
//Colores
$header:#F8EDE3;
$letras_header:#85586F;
$color_main:linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1));
$color_btn:linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);


//Mixins
@mixin sizeh2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}
@mixin button1{
    cursor: pointer;
    background-color: transparent;
    border:2px solid #fff;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
@mixin A{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    width: 42px;
    border: 1px solid #fff;
    border-radius: 100%;
    line-height: 42px;
    font-size: 20px;
    margin: 40px 5x;
    transition: .3s;
}
//Animaciones
